.container {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.card {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  transition: all 0.3 ease;
}

.card:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.imageContainer {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 100%;
}

.image {
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover .image {
  transform: scale(1.05);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.name {
  text-align: center;
  font-size: 14px;
}
